a { color: #358C4D; }
a:hover { color: #078C2C; }

.btn-primary {
	background-image: -webkit-linear-gradient(top, #006117 0%, #004017 100%);
	background-image: linear-gradient(to bottom, #006117 0%, #004017 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff83ac3a', endColorstr='#ff55732e', GradientType=0);
	border-color: #004017;
}

.btn-primary:hover, .btn-primary:focus { background-color: #004017; }

.form-control:focus {
  border-color: #83ac3a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(131, 172, 58, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(131, 172, 58, 0.6);
}

.login-form { margin-top: 20px; }